@import '../styles/variables';

header {
  @include generalDisplay();
  padding: 0;
  flex-direction: column;
  align-items: center;
  width: 100%;
  h1 {
    @include headerFont(3em);
  }
  nav {
    @include generalDisplay();
    justify-content: space-evenly;
    width: 25em;
    margin: 0 auto;
    button {
      @include button();
    }
  }
} 