@import '../styles/variables';

header {
  @include generalDisplay();
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include headerFont(2vw);
  nav {
    @include generalDisplay();
    justify-content: space-evenly;
    width: 20em;
    button {
      @include button();
    }
  }
} 