@import '../styles/variables';

form {
  @include generalDisplay();
  align-items: center;
  input {
    background: $coral;
    color: $alabaster;
    @include headerFont(1em);
  }
}

.comment-text {
  @include headerFont(1em);
}